project:
  type: website
  output-dir: docs

website:
  title: "Mitch Thronson"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - mp1.qmd
      - maps.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

